body {
    background-color: white;
  /* background-repeat: no-repeat;
  background-size: cover;
  opacity: 100%; */
}
#img {
  width: 25rem;
  height: 20rem;
}
#card {
  width: 25rem;
}
#btn:focus {
  box-shadow: none !important;
}
#truncate{
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  word-break: var(--word-break, 'none');
  overflow: hidden;
}