h1 {
    text-align: center;
    padding-bottom: 30px;
    color: #edb7ed;
    font-size: 50px;
    font-weight: 700;
}
#picture-count-input {
    width: 500px;
}
#form {
    display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
#container {
    width: 60%;
    padding-top: 100px;
    padding-bottom: 100px;
}
.tabs{
    color: #edb7ed;
}